@charset "UTF-8";


html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    overflow-x: hidden;
    height: 100%;
}

#header{
    background-color: #4a7c59;
    position: relative;
}

.header.headerColorScroll a {
    color: #2f4f3a;
}

.home header{
    height: 100vh;
}

h2 span{
    color: #ff9f1c;
}


.tree_top{
    max-width: 36%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.header_nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;   
}

._works .header_nav{
    background-color: #4a7c59de;
    padding-bottom: 20px;
    padding-left: 10px;
}

.header_nav ul{
    display: flex;
    gap:60px;
    padding-right: 85px;
    justify-content: flex-end;
    list-style: none;
    padding-top: 40px;
}

.header_nav a{
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    text-decoration: none;
    color: #ffebc2;
}

.header_nav a:hover{
    color: #ff9f1c;
}

.hamburger_menu,
.header_nav-sp{
    display: none;
}


._about nav{
    padding-bottom: 20px;
    padding-left: 10px;
}

._about nav a{
    color: #4a7c59;
} 

._about nav a:hover{
    color: #ff9f1c;
}

.title{
    font-size: 110px;
    line-height: 1.11;
    text-align: center;
    color: #ffebc2;
    padding: 120px 0 70px 0;
    position: relative;
    z-index: 3;
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

.title span{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1.2s ease-out forwards;
}

.title span:nth-child(1) {animation-delay: 0s;}
.title span:nth-child(2) {animation-delay: 0.1s;}
.title span:nth-child(3) {animation-delay: 0.2s;}
.title span:nth-child(4) {animation-delay: 0.3s;}
.title span:nth-child(5) {animation-delay: 0.4s;}
.title span:nth-child(6) {animation-delay: 0.5s;}
.title span:nth-child(7) {animation-delay: 0.6s;}
.title span:nth-child(8) {animation-delay: 0.7s;}
.title span:nth-child(9) {animation-delay: 0.8s;}
.title span:nth-child(10) {animation-delay: 0.9s;}
.title span:nth-child(11) {animation-delay: 1s;}
.title span:nth-child(12) {animation-delay: 1.1s;}
.title span:nth-child(13) {animation-delay: 1.2s;}
.title span:nth-child(14) {animation-delay: 1.3s;}
.title span:nth-child(15) {animation-delay: 1.4s;}
.title span:nth-child(16) {animation-delay: 1.5s;}
.title span:nth-child(17) {animation-delay: 1.6s;}
.title span:nth-child(18) {animation-delay: 1.7s;}
.title span:nth-child(19) {animation-delay: 1.8s;}
.title span:nth-child(20) {animation-delay: 1.9s;}
.title span:nth-child(21) {animation-delay: 2s;}
.title span:nth-child(22)  {animation-delay: 2.1s;}

@keyframes fadeUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.scrollbar_text span{
    display: none;
}

.container_01 {
    margin: 0;
    padding: 0;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.scroll-down_01 {
    position: relative;
    width: 120px;
    height: 120px;
    color: #ffebc2;
    font-family: serif;
    text-decoration: none;
    left: 6%;
    top: 80px;
}

.circle-text_01 {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 20s linear infinite;
    color: #ffebc2;
}

.circle-text_01 span {
    position: absolute;
    left: 50%;
    font-size: 14px;
    transform-origin: 0 60px;
}



.arrow_01 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 35px;
    transform: translate(-50%, -50%);
    animation: scroll_01 2s infinite;
}

.arrow_01::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: #ffebc2;
    transform: translateX(-50%);
}
.arrow_01::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #ffebc2;
    transform: translateX(-50%) rotate(-45deg);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        }
    100% {
        transform: rotate(360deg);
        }
}

@keyframes scroll_01 {
    0% {
        transform: translate(-50%, -50%) translateY(-10px);
        opacity: 0;
        }
    30% {
        opacity: 1;
        }
    100% {
        transform: translate(-50%, -50%) translateY(10px);
        opacity: 0;
        }
}

.ttop{
    max-width: 42%;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.ttop::after{
    content: "";
    background: radial-gradient(circle, rgba(0,255,69,0.33) 30%, transparent 80%);
    border-radius: 70%;
    animation: glow 5s ease-in-out infinite;
    position: absolute;
    top: -40px ;
    left: -40px;
    right: -40px; 
    bottom: -40px;
    filter: blur(20px);
}

@keyframes glow{
    0%, 100%{opacity: 0.3; transform: scale(1);}
    50%{opacity: 0.7; transform: scale(1.1);
    }
}

.tree_middle{
    max-width: 30%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.container{
    background-color: #ffebc2;
    color: #4a7c59;
}

.container h2{
    font-size: 88px;
    margin: 0 auto;
    text-align: center;
}

#concept h2::before{
    content: "";
    display: inline-block;
    background: url(../sozai/1x/Concept.png) no-repeat center/ contain ;
    width: 68px;
    height: 45px;
    margin-right: 5px;
}

#concept{
    position: relative;
}

.concept_img img{
    max-width: 30%;
    position: absolute;
    right: 0;
    z-index: 2;
}

.concept_img{
    text-align: right;
}

.concept_img2{
    position: absolute;
    top: 400px;
    max-width: 27%;
    animation: sway 5s ease-in-out infinite;
    transform-origin: left bottom;
}

@keyframes sway {
    0%, 100% {
    transform: rotate(-2deg);
    }
    50% {
    transform: rotate(2deg);
    }
}

.concept_img3{
    position: absolute;
    right: 130px;
    top: 670px;
    max-width: 30%
}

.concept_text h2{
    padding: 80px 68px 80px 0;
}
.concept_text h3{
    font-size: 52px;
    margin: 0 auto;
}

.concept_text p{
    font-size: 24px;
    margin: 75px 0 250px;
    line-height: 2.5em;
}

.concept_text{
    text-align: center;
}

#about h2{
    text-align: center;
    padding-right: 65px;
}

#about h2::before{
    content: "";
    display: inline-block;
    background: url(../sozai/1x/about.png) no-repeat center/ contain ;
    width: 35px;
    height: 68px;
    margin-right: 30px;
}

.profile_sp{
    display: none;
}

.fall_leaf {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fall_leaf li{
    position: absolute;
    list-style: none;
    top: -50px;
    background: #2edf71;
    border-radius: 0% 70%;
}


@keyframes fall {
    0%{
    top: -80px; 
    }
    100%{
    top: 120%; 
}
}

@keyframes sway1 {
    0% {
    transform: translateX(0px) rotate(0deg);
    }
    100% {
    transform: translateX(150px) rotate(-45deg);
    }
}

@keyframes sway2 {
    0% {
    transform: translateX(150px) rotate(-45deg);
    }
    100% {
    transform: translateX(0px) rotate(0deg);
    }
}

.fall_leaf li:nth-child(1){
    left: 0%;
    top: -300px;
    width: 24px;
    height: 15px;
    background-color: #249313;
    animation: fall 20s linear infinite,
                sway1 3s ease-in-out infinite alternate;
    animation-delay: 2s;
}

.fall_leaf li:nth-child(2){
    left: 20%;
    top: -300px;
    width: 13px;
    height: 9px;
    background-color: #009926;
    animation: fall 15s linear infinite,
                sway1 2s ease-in-out infinite alternate;
    animation-delay: 8s;
}

.fall_leaf li:nth-child(3){
    left: 40%;
    top: -300px;
    width: 16px;
    height: 10px;
    background-color: #c2704e;
    animation: fall 19s linear infinite,
                sway1 3.5s ease-in-out infinite alternate;
    animation-delay: 10s;
}

.fall_leaf li:nth-child(4){
    left: 60%;
    top: -300px;
    width: 16px;
    height: 10px;
    background-color: #8be23f;
    animation: fall 18s linear infinite,
                sway2 4s ease-in-out infinite alternate;
    animation-delay: 7s;
}
.fall_leaf li:nth-child(5){
    left: 80%;
    top: -300px;
    width: 16px;
    height: 10px;
    animation: fall 15s linear infinite,
                sway1 4s ease-in-out infinite alternate;
    animation-delay: 0s;
}


.about_container p{
    font-size: 18px;
    margin: 70px 0;
    line-height: 2.22em;
}


.about_container{
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.about_container img{
    padding-right: 60px;
    max-width: 25%;
}

.about_view{
    text-align: end;
    padding-right: 22%;
}

.about_view img{
    width: 155px;
    transition: transform 0.3s,filter 0.3s;
}

.about_view a{
    position: relative;
    display: inline-block;
}

.about_view p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #ffebc2;
    white-space: nowrap;
}

.about_view img:hover{
    transform: scale(1.05);
}

.sp_img{
    display: none;
}

#works{
    position: relative;
    padding-bottom: 230px;
}

.mockup_container{
    margin-top: 350px;
}

.works_img1{
    max-width: 26%;
    position: absolute;
    top: -60px;
    z-index: 2;
    left: 0;
}

.works_sp{
    display: none;
}

.works_img2{
    max-width: 25%;;
    position: absolute;
    right: 0;
    top: -240px;
    z-index: 2;
    animation: sway 5s ease-in-out infinite;
    transform-origin: right bottom;
}

.works_img3{
    max-width: 12%;
    position: absolute;
    top: 770px;
    left: 0;
    z-index: 2;
}

.works_img4{
    max-width: 17%;
    position: absolute;
    right: 0;
    top: 1320px;
    z-index: 2;
}

.works_img5{
    max-width: 17%;
    position: absolute;
    left: 0;
    top: 1970px;
    z-index: 2;
    animation: sway 5s ease-in-out infinite;
    transform-origin: left bottom;
}

.works_container h2{
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    padding-right: 46px;
}

.works_container h2::before {
    content: "";
    display: inline-block;
    background: url(../sozai/1x/flower.png) no-repeat center / contain;
    width: 36px;
    height: 63px;
    margin-right: 10px;
}

#works h3{
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-decoration: none;
    padding: 150px 0 130px 13%;
    margin-bottom: 0;
    position: relative;
    z-index: 3;
}

.website_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 180px 30px;
    align-items: center;

}

.banner_img{
    text-align: center;
}


.works_back{
    background-image: url("../sozai/1x/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 130px;
}

.back{
    display: block;
    margin: 0 auto;
    max-width: 95%;
    
}
.onimg{
    width: 100%;
    max-width: 40%;
    position: relative;
}

.onimg img{
    width: 100%;
    margin: 0;
}

.ice,
.burger_1{
    padding-bottom: 40px;
}

.burger_1{
    display: none;
}

.view_1{
    color: #ffebc2;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(47, 79, 58, 0.75);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    transition: .3s;
}

.view_1:hover{
    opacity: 1;
}

.works_title,
.works_title2{
    text-align: center;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-decoration: none;
}


.onimg_banner2{
    width: 100%;
    position: relative;
    max-width: 35%;
    margin: 0 auto;
}

.onimg_banner1{
    width: 100%;
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 130px;
}

.star {
    position: absolute;
    display: block;
    background-color: #fff3b0; 
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(#fff, 0.2); 
    opacity: 0;
    animation: twinkle 5s infinite;
}


@keyframes twinkle {
    0% {
    opacity: 0;
    }

    50% {
    transform: scale(1.1);
    opacity: 1;
    }

    100% {
    opacity: 0;
    transform: scale(1);
    }
}


.contact_container{
    background-color: #2f4f3a;
    text-align: center;
}

.contact_container h2{
    color: #ffebc2;
    padding: 100px 0 20px 0;
    font-size: 88px;
}

.contact_container p{
    color: #ffebc2;
}

.footer{
    font-size: 16px;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 60px;
    margin: 0 auto;
}

.footer_text{
    padding-bottom: 180px;
    padding-top: 25px;
    font-size: 18px;
    line-height: 2em;
}

.contact1{
    position: absolute;
    max-width: 38%;
    left: 0;
    top: 0;
}

.contact2{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 35%;
}

.contact_container{
    position: relative;
}

.mikan{
    max-width: 12%;
    transition: transform 0.3s,filter 0.3s ease;
}

.mikan:hover{
    transform: scale(1.05);
    filter: saturate(150%);
}

.contact_sp{
    display: none;
}

.form_item span{
    font-size: 26px;
}

.page_top{
    position: fixed;
    right: 3%;
    height: auto;
    max-width: 10%;
    transition: transform 0.3s,filter 0.3s;
    bottom: 20px;
}

.page_top:hover{
    transform: scale(1.05);
    filter: brightness(110%);
}

._about{
    background-color: #ffebc2;
    color: #4a7c59;
    position: relative;
}

.about_about{
    position: relative;
}

.about_about h2{
    font-size: 88px;
    margin-top: 170px;
    margin-bottom: 220px;
    display: block;
    text-align: center;
}

.leaf{
    max-width: 35%;
    position: absolute;
    top: -40px;
    
}

.profile{
    max-width: 36%;
}

.about_about h3{
    font-size: 50px;
    font-weight: 600;
}

.about_about h2::before{
    content: "";
    display: inline-block;
    background: url(../sozai/1x/about.png) no-repeat center/ contain ;
    width: 35px;
    height: 68px;
    margin-right: 30px;
}

.name{
    font-size: 20px;
    margin: 20px 0;
}

.name2{
    font-size: 21px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4a7c59;
    margin-bottom: 35px;
}

.about_line{
    font-size: 16px;
    line-height: 2.38em;
}

.like{
    font-size: 18px;
}

.about_flex{
    display: flex;
    justify-content: center;
    gap: 7.5%;
    align-items: center;
}

.box{
    background: #4a7c59;
    width: 195px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.box p{
    color: #ffebc2;

}

.about_skills h2{
    font-size: 72px;
    display: block;
    text-align: center;
    margin-top: 195px;
    margin-bottom: 115px;

}

.skills_pc img{
    max-width: 21%;
}

.about_skills h3{
    font-size: 48px;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ff9f1c;

}

.about_skills p{
    font-size: 24px;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    line-height: 2;
}
.skills_container{
    display: flex;
    justify-content: center;
    gap: 16%;
    text-align: center;
}

.about_skills {
    margin-bottom: 220px;
}

._contact{
    position: relative;
    background-color: #2f4f3a;
}

._contact h2{
    padding-top: 280px;
    font-size: 88px;
    color: #ffebc2;
}

._contact p{
    color: #ffebc2;
}


._contact nav a:hover{
    color: #ff9f1c;
}

.line1{
    font-size: 18px;
}

.line2{
    font-size: 24px;
    margin-top: 75px;
    margin-bottom: 225px;
}

.stars{
    position: absolute;
    top: 0;
    overflow: hidden; 
    max-width: 48%;
}

.contact_text{
    text-align: center;
}

._contact h2,
.line1{
    line-height: 0.75;
}


label{
    font-size: 18px;
    color: #ffebc2;
    width: 222px;
}

.mockup_pc_sp{
    display: none;
}

.form_group{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.form_item{
        max-width: 900px;
        margin: 0 auto 0 10%;
        padding: 20px;
    }

@media screen and (min-width:1366px) {
    .form_item{
        margin: 0 auto;
    }
}


input{
    width: calc(100% - 222px);
    height: 65px;
    background-color: #ffebc2;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

textarea{
    width: calc(100% - 222px);
    height: 300px;
    background-color: #ffebc2;
    border: none;
    padding: 10px;
    box-sizing: border-box;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ff9f1c;
    color: #ffebc2;
    font-family: "sheila", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    border: none;
    display: block;
    margin: 0 auto;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover{
    background-color: #fa8200;
    transform: scale(1.05);
}

.contact_leaf1{
    position: absolute;
    max-width: 20%;
    right: 0;
    top: 550px;
    animation: sway 5s ease-in-out infinite;
    transform-origin: right bottom;
    z-index: -1;
}


.contact_footer{
    padding: 70px 0;
    margin-top: 90px;
    text-align: center;
}

footer{
    background-color: #4a7c59;
}

.thanks_ h1{
    color: #ff9f1c;
    font-size: 150px;
    margin-top: 115px;
    margin-bottom: 80px;
}

.thanks_text{
    color: #ffebc2;
    font-size: 24px;
    margin-bottom: 100px;
}

.thanks_back{
    color: #ffebc2;
    font-size: 36px;
    font-family: "sheila", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.thanks_back:hover{
    color: #ff9f1c;
}

.thanks_{
    text-align: center;
    position: relative;
    
}

.thankyou{
    background-color: #2f4f3a;
    overflow: hidden;
}

.thanks_flower{
    max-width: 18%;
    position: absolute;
    top: 150px;
    left: 0;
}

.thanks_leaf{
    max-width: 13%;
    position: absolute;
    bottom: 0;
    right: 30%;
}

._works{
    background-color: #4a7c59;
}

.banner{
    max-width: 40%;
    margin-bottom: 32px;
}

.works_item h3{
    color: #ff9f1c;
    font-size: 48px;
    margin-top: 120px;
    margin-bottom: 40px;
    text-align: center;
}

dt,dd{
    color: #ffebc2;
    font-size: 18px;
    line-height: 2em;
}

dl div{
    display: flex;
    margin-bottom: 32px;
    line-height: 1.7em;
    letter-spacing: 0.1em;
}


dt{
    min-width: 90px;
    margin-left: 8%;
}

dd{
    margin-left: 8%;
}

.back_list h2{
    color: #ff9f1c;
    font-size: 36px;
    margin-bottom: 136px;
    margin-top: 136px;
}

.back_list{
    text-align: center;
}

.mockup_right{
    width: 50%;
}

.works_under{
    max-width: 88%;
    margin-top: 260px;
}

.works_flex{
    display: flex;
}

.works_left{
    width: 50%;
    height: 700px;
    position: sticky;
    top: 0;
    padding-right: 5%;
}

.works_item{
    display: flex;
}

.burger_inner dt{
    margin-bottom: 20px;
}

.banner_left{
    width: 50%;
    padding-right: 5%;
}

.banner_left h3{
    font-size: 36px;
}

.layout{
    width: 80%;
}

.banner_sp{
    display: none;
}

.banner_right{
        margin-top: 260px;
        width: 95%;
}

.fade,
.fade_under{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 2s ease-out;
    transition-delay: 1s;
}

.fade.visible,
.fade_under.visible{
    opacity: 1;
    transform: translateY(0);
}


@media screen and (max-width:1100px) {
    .title{
        padding-top: 192px;
        font-size: 80px;
    }

    .ttop{
        bottom: auto;
        max-width: 50%;
    }
    
    .tree_top,
    .tree_middle{
        max-width: 36%;
    }

}

@media screen and (max-width:960px){

    .works_item h3{
        font-size: 24px;
        margin-bottom: 18px;
    }

    .banner{
        margin-bottom: 50px;
        max-width: 30%;
    }

    .works_left{
        position: static;
        padding-right: 0;
        width: 95%;
        height: auto;
    }

    .works_item{
        flex-direction: column;
    }

    dl div{
        flex-direction: column;
        margin-bottom: 48px;
    }

    dt{
        margin-left: 16px;
        margin-bottom: 20px;
        color: #ffffff;
    }

    .mockup_right{
        width: 100%;
        text-align: center;
    }

    .mockup_right img{
        margin-top: 48px;
    }

    .back_list h2 {
        font-size: 24px;
        margin: 48px 0;
    }

    .mockup_pc_sp{
        display: block;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 56px;
    }

    .works_under{
        max-width: 60%;
    }

    .banner_left{
        width: 95%;
        padding-left: 0;
    }

    .banner_sp{
        display: block;
        margin: 0 auto;
        max-width: 60%;
        margin-bottom: 56px;
    }

    .banner_right{
        display: none;
    }
}

@media screen and (max-width:768px) {
    
    .hamburger_menu{
    display: block;
    position: fixed;
    width: 36px;
    height: 12px;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 9999;
    }

    .hamburger_menu span:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffebc2;
    border-radius: 1px;
    transition: 0.3s;
    }

    .hamburger_menu span:nth-child(2){
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffebc2;
    bottom: -5px;
    right: 0;
    transition: 0.3s;
    }

    .headerColorScroll .hamburger_menu span {
    background-color: #2f4f3a;
    }

    .headerColorScroll .hamburger_menu.open span {
    background-color: #ffebc2;
    }

    .header.headerColorScroll a {
    color: #ffebc2;
    }

    .header_nav{
        display: none;
    }

    .header_nav-sp{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(36,80,56,0.9);
        top: 0;
        left: 0;
        z-index: 9998;
    }

    .open span:nth-child(1){
        transform: rotate(30deg);
        top: 0;
    }

    .open :nth-child(2){
        transform: rotate(-30deg);
        top: 0;
    }

    .header_nav-sp a{
        color: #ffebc2;
        font-family: "sheila", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
    }

    .header_nav-sp a:hover{
        color: #ff9f1c;
    }

    .header_nav-sp ul{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 48px;
    }


    .title{
        font-size: 56px;
    }

    .tree_top,
    .tree_middle{
        max-width: 40%;
    }

    .top{
        max-width: 390px;
        width: 100%;
    }

    .scroll_down{
    height: 300px;
    }

    .scrollbar_text{
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 10px 10px 110px;
    color: #ffebc2;
    font-size: 18px;
    font-family: "playfair-display", serif;
    line-height: 1;
    letter-spacing: 0.2em;
    left: 6%;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: translateX(-50%);
    }
    
    .scrollbar_{
    position: absolute;
    bottom: 1px;
    left: 6%;
    transform: translateX(-50%);
    }


    .scrollbar_::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -4px;
    width: 8px;
    height: 8px;
    animation: circlemove 1.6s ease-in-out infinite,
    circlemovehide 1.6s ease-out infinite;
    border-radius: 50%;
    background: #ffebc2;
    }

    .scrollbar_::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 100px;
    background: #ffebc2;
    }

    @keyframes circlemove{
    0%{bottom: 95px;}
    100%{bottom: 0px;}
    }

    @keyframes circlemovehide{
    0%{opacity: 0;}
    50%{opacity: 1;}
    80%{opacity: 0.9;}
    100%{opacity: 0;}
    }
    
    .scrollbar_text span{
        display: block;
    }

    .concept_img img{
        width: 50%;
        max-width: 300px;
    }
    
    .container h2{
        font-size: 36px;
        padding-right: 26px;
    }

    .concept_text h2{
        padding-top: 30px;
        padding-bottom: 35px;
        text-align: left;
    }

    #concept h2::before{
        width: 28px;
        height: 20px;
    }

    .concept_text h3{
        font-size: 21px;
    }

    .concept_text p{
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 75px;
        line-height: 2.85em;
    }

    .concept_text{
        text-align: left;
        padding-left: 6%;
        
    }

    .concept_img3{
        display: none;
    }

    .concept_img2{
        display: none;
    }

    #about h2{
        padding-right: 36px;
    }

    .about_container{
        flex-direction: column;
    }

    .about_container img{
        max-width: 50%;
        padding-right: 0;
        margin: 0 auto;
    }

    #about h2::before{
        width: 18px;
        height: 35px;
        margin-right: 18px;
    }

    #about{
        position: relative;
    }

    .sp_img{
        max-width: 25%;
        display: block;
        position: absolute;
        top: 300px;
    }

    .about_view p{
        font-size: 14px;
    }

    .about_view img{
        width: 112px;
        height: 30px;
    }

    .about_container p{
        text-align: center;
        font-size: 14px;
        line-height: 2.57em;
        margin-top: 45px;
        margin-bottom: 26px;
    }

    .works_container h2::before {
        width: 16px;
        height: 28px;
    }

    .website_img{
        flex-direction: column;
        gap: 90px;
    }

    .onimg{
        max-width: 90%;
    }

    #works{
        padding-bottom: 112px;
    }

    #works h3{
        padding-top: 40px;
        padding-bottom: 60px;
        text-align: center;
        padding-left: 0;
        font-size: 24px;
    }

    .works_back{
        background-image: url("../sozai/1.5x/back_sp_1@1.5x.png");
    }

    .works_title{
        text-align: left;
        padding-left: 20px;
    }

    .works_title2{
        text-align: left;
        font-size: 14px;
    }

    .burger_{
        display: none;
    }

    .burger_1{
        display: block;
    }

    .onimg_banner2{
        max-width: 60%;
    }

    .works_img1{
        display: none;
    }

    .works_img2{
        display: none;
    }

    .works_sp{
        display: block;
        position: absolute;
        max-width: 26%;
        left: 0;
    }

    .mockup_container{
        margin-top: 100px;
    }

    .works_img3{
        max-width: 14%;
        top: 1000px;
    }

    .works_img4 {
        top: 1400px;
    }

    .works_img5{
        top: 2000px;
    }

    .hyakka_sp{
        display: none;
    }

    .contact_container h2{
        font-size: 36px;
    }

    .contact_container p{
        font-size: 12px;
    }

    .stars{
        max-width: 78%;
    }

    .mikan{
        max-width: 18%;
    }

    .footer_text{
        padding-bottom: 96px;
    }

    .page_top{
        max-width: 4.5%;
        height: auto;
        right: 6%;
        bottom: 50px;
    }

    .header_nav-sp{
        background-color: rgba(36,80,56,0.9);
    }

    .header_nav-sp a{
        color: #ffebc2;
    }

    .open span:nth-child(1) ,
    .open span:nth-child(2) {
        background-color: #ffebc2;
    }
    
    h2{
        font-size: 36px;
        margin-bottom: 32px;
    }

    .leaf{
        top: -170px;
        max-width: 50%;
    }

    .about_about h2::before{
        width: 18px;
        height: 35px;
        margin-right: 18px;
    }

    .about_flex{
        flex-direction: column;
    }

    .profile{
        display: none;
    }

    .profile_sp{
        display: block;
        max-width: 50%;
    }

    .profile_text{
        text-align: center;
        padding: 0 10px;
    }

    .profile_text h3{
        margin-top: 32px;
        font-size: 38px;
    }

    .about_line{
        text-align: left;
    }

    .name{
        margin-top: 3px;
        margin-bottom: 26px;
        font-size: 14px;
    }

    .name2{
        font-size: 14px;
    }

    .box{
        margin: 15px 0;
        width: 140px;
        height: 25px;
    }

    .like{
        text-align: left;
        font-size: 16px;
    }

    .about_about h2{
        font-size: 36px;
        margin-bottom: 25px;
    }

    .about_skills h2{
        margin-top:144px;
        font-size: 36px;
    }

    .skills_container{
        flex-direction: column;
    }

    .skills_container img{
        max-width: 40%;
    }

    .skills_container h3{
        font-size: 36px;
        width: 60%;
        margin: 0 auto;
        padding: 15px 0;
    }

    .about_skills p{
        font-size: 18px;
    }

    .skills_container ul{
        margin-top: 24px;
        margin-bottom: 96px
    }

    .about_skills{
        margin: 0 auto;
    }

    .contact_img1{
        display: none;
    }

    .contact_sp{
        display: block;
    }

    ._contact h2{
        font-size: 36px;
        padding-top: 180px;
    }

    .line1{
        font-size: 10px;
    }

    .line2{
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 55px;
    }

    .form_group{
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 64px;
    }

    label{
        margin-left: 0;
        width: 100%;
        padding-bottom: 10px;
    }

    input,
    textarea{
        max-width: none;
        width: 100%;
    }

    .form_item{
        margin: 0 auto;
    }

    .contact_leaf1{
        max-width: 50%;
    }

    button{
        width: 75px;
        height: 75px;
        font-size: 24px;
    }

    .thanks_ h1{
        font-size: 72px;
    }

    .thanks_text{
        font-size: 18px;
    }

    .thanks_back{
        font-size: 26px;
    }

    .container_01{
        display: none;
    }

    dt,dd{
        font-size: 14px;
        line-height: 2em;
    }

    

}

@media screen and (max-width:445px) {
    .sp-445{
        display: none;
    }
}